* {
  background-color: rgb(13, 32, 56);
  color: rgb(217, 224, 233);
  text-align: center;
}
textarea{
  width: 40vw;
  height: 20vw;
  font-size: 1vw;
  text-decoration: none;
  background-color: rgb(42, 68, 85);
  max-width: 50vw;
  min-width: 30vw;
  max-height: 30vw;
  min-height: 15vw;
}

.questions{
  
}