* {
  background-color: rgb(13, 32, 56);
  color: rgb(217, 224, 233);
  /*text-decoration: underline 0.1vw solid;*/
  text-align: center;
}
textarea{
  width: 40vw;
  height: 20vw;
  font-size: 1vw;
  text-decoration: none;
  background-color: rgb(42, 68, 85);
}
.submit{
  width: 5vw;
  height: 2vw;
  background-color: rgb(199, 166, 230);
  color: rgb(0, 0, 0);
  text-decoration: none;
}